.app {
  text-align: center;
  margin-bottom: 46px;
  margin-top: 32px;
}

a {
  color: #f6bf00;
  text-decoration: none;
}

a:active {
  color: #f6bf00;
}

a:hover {
  text-decoration: line-through;
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.credits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.credits > p {
  color: #707070;
  padding: 0px 32px;
  margin: 0px;
  border-right: 1px solid #707070;
}

.credits > p:last-child {
  border-right: none;
}

.input-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.input-field {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.input-field-label {
  margin-right: 16px;
}

.gallery-slider {
  margin-top: 32px;
}

@media only screen and (max-width: 576px) {
  .gallery-slider {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
